<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/main.css">
    <title>About me</title>
</head>
<body>
    <h1>About me</h1>
    <ul>
        <li><a href="http://localhost:3000/">Hier gehts zur&uuml;ck zur Hauptseite</a></li>
        <li><a href="http://localhost:3000/gallery">Hier gibts Fotos zu sehen</a></li>
    </ul>
    <p>
        ENGINE & DRIVETRAIN:	
Engine Type:	Freedom 106/ 6 V-Twin
Displacement:	106 ci / 1731 cc
Bore x Stroke (mm):	101 X 108 mm
Compression Ratio:	9:4:1
Valve Train:	4 Valves per Cylinder, Hydraulic Lifters & Cam Chain Adjusters
Battery:	YTX20HL-BS/12 Volt 18 Amp Hour 310 CCA
Charging System:	38 Amps Max Output
Cooling:	Air & Oil
Drive/Driven Clutch:	Wet Multi-Plate/Diaphragm Spring
Exhaust:	Dual-Staggered Slash-Cut with Common Volume
Fuel System:	Electronic Fuel Injection with dual 45mm throttle body
Transmission/Final Drive:	Carbon Fiber Reinforced Belt
Transmission/Primary Drive:	Gear Drive with Torque Compensator
Transmission Type:	6 Speed Overdrive/Constant Mesh
SUSPENSION:	
Front Suspension:	Telescopic Fork/ 5.1" (130mm)
Rear Suspension:	Single Monotube Gas/Preload Adjustable/3.0" (75mm)
BRAKES:	
Brake System Type:	Not Linked
Front Brakes:	Single 300 x 5mm/ Floating Rotor/ 4 Piston Caliper
Rear Brakes:	Single 300 x 5mm/ Floating Rotor/ 2 Piston Caliper
TIRES/WHEELS:	
Front Tires:	Dunlop 491 E2-RWL 130/90 B16 67H
Front Wheel:	16 x 3.5 in
Rear Tires:	Dunlop 491 E2-RWL 140/90 B16 77H
Rear Wheel:	16 x 3.5 in
DIMENSIONS:	
Fuel Capacity (Litres):	4.5 gal / 17.0 ltr
GVWR:	1151 lbs / 523 kg
Ground Clearance:	4.7 in / 120 mm
Rake/Trail:	32°/6.7 in (170.0 mm)
Seat Height:	25.0 in / 635 mm
Wheelbase:	64.8 in / 1647 mm
Overall Length (in./mm.):	93.4 in / 2372 mm
Dry Weight:	649 lb (294 kg)
Oil Capacity:	5.0 qts / 4.73 ltr
DETAILS:	
ABS/Cruise Control:	Not Equipped
Colors:	Suede Titanium Metallic with Black Tank Graphics, Suede Green Metallic with Black Tank Graphics
    </p>
</body>
</html>