<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/main.css">
    <title>Photo gallery</title>
</head>
<body>
    <h1>Photo gallery</h1>
    <ul>
        <li><a href="http://localhost:3000/">Hier gehts zur&uuml;ck zur Hauptseite</a></li>
        <li><a href="http://localhost:3000/aboutme">Hier gehts zu About me</a></li>
    </ul>
</body>
</html>